# Dossiers
/target/
/bin/
/out/
/.gradle/
/.idea/
/.settings/
/.vscode/
/.project/
/.classpath/

# Fichiers de build
*.class
*.war
*.ear
*.jar

# Fichiers d'environnement
*.iml
*.log

# Fichiers d'éclipse
.settings/

# Fichiers système
.DS_Store
Thumbs.db
